html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --background: #222831;
}

body {
  background-color: var(--background);
  color: white;
  font-family: "Fredericka the Great", cursive;
}

.grid-container {
  display: grid;
  width: 450px;
  height: 450px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border: 15px solid rgba(255, 255, 255, 0.8);
  border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png")
    30 round;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.grid-container > *:not(:last-child) {
  border-right: none;
  border-bottom: none;
}

.grid-container > *:nth-last-child(-n + 3) {
  border-bottom: none;
}

.grid-container > *:nth-child(3n) {
  border-right: none;
}

.grid-container .cell:nth-child(3n + 1) {
  border-left: none;
}

.grid-container > div:nth-child(-n + 3) {
  border-top: none;
}

h1 {
  font-size: 4.5rem;
  margin-top: 40px;
  text-align: center;
}

body > div:first-child {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.playerone-score,
.playertwo-score {
  font-size: 8rem;
  text-align: center;
}

div > h3 {
  text-align: center;
  margin-top: 60px;
  /* font-weight: bold; */
  margin-bottom: 20px;
  font-size: 2rem;
}

.main-console {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: -65px;
  box-shadow: -3px 5px 15px 5px rgba(255, 255, 255, 0.1);
}

.restart,
.next-round {
  padding: 15px;
  margin: 30px 15px 30px 15px;
  background-color: var(--background);
  border-radius: 15px;
  border: solid 2px white;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
  width: 220px;
  margin-bottom: 30px;
  margin-top: 30px;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  background-color: #0f1216;
  transform: scale(1.05);
}

.game-updates {
  font-size: 2.5rem;
}

.updates-container {
  height: 30px;
  padding: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 460px;
  background-color: var(--background);
  padding: 30px 25px 30px 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.795);
  border: 2px solid rgb(14, 13, 13);
  border-radius: 15px;
  opacity: 0;
  animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-hidden {
  display: none;
}

.form-container input[type="submit"] {
  padding: 15px;
  font-weight: bolder;
  font-size: 1.1rem;
  background-color: var(--background);
  border-radius: 15px;
  border: solid 2px white;
  color: white;
  width: 220px;
  transition: transform 0.2s ease-in-out;
  margin: 80px 0 -10px 0;
}

.form-container input[type="submit"]:hover {
  transform: scale(1.05);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
}

input {
  width: 300px;
  padding: 8px;
  font-size: 1.8rem;
}

.form-container h4 {
  text-align: center;
  padding: 15px;
  margin: -30px 0px 20px 0px;
  font-size: 2.2rem;
  font-weight: 700;
}

.overlay-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  backdrop-filter: blur(5px);
}
